<br>
<div>
    <div>All fields are required</div>
<div>
    <lable for="name">Name:</lable>
    <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name">
    <lable for="country">Country:</lable>
    <input type="text" name="country" value="<%= user.country %>" placeholder="Enter Country">
    <lable for="age">Age:</lable>
    <input type="text" name="age" value="<%= user.age %>" placeholder="Enter Age">
    <lable for="email">Email:</lable>
    <input type="email" name="email" value="<%= user.email %>" placeholder="Enter Email">
    <lable for="password">Password:</lable>
    <input type="password" name="password" value="<%= user.password %>" placeholder="Enter Password">
</div>
</div>