All fields are required
<br>
<br>
<div>
<lable for="name">Name:</lable>
<input type="text" name="name" value="<%= user.name %>">
</div>
<div>
<lable for="country">Country:</lable>
<input type="text" name="country" value="<%= user.country %>">
</div>
<div>
<lable for="age">Age:</lable>
<input type="text" name="age" value="<%= user.age %>">
</div>
<div>
<lable for="email">Email:</lable>
<input type="text" name="email" value="<%= user.email %>">
</div>
<div>
<lable for="password">Password:</lable>
<input type="text" name="password" value="<%= user.password %>">
</div>