<h2>Search Users</h2>
<form action="/users" method="GET">
<lable>Name:</lable>
<input type="text" name="name" value="<%= searchOptions.name %>">
<button type="submit">Search</button>
</form>
<br>
<% users.forEach(user => { %>
    <div><%= user.name %></div>
    <a href="/users/<%= user.id %>">View</a>
    <a href="/users/<%= user.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
                 {url: `/users/${user.id}` })%>
<% }) %>