<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= post.location %></h2>
<ul>
    <li><strong>Photo:</strong> <%= post.postPhoto %></li>
    <li><strong>Description:</strong> <%= post.description %></li>
    <li><strong>Tags:</strong> <%= post.tags %></li>
    <li><strong>Author:</strong> <%= post.author %></li>
</ul>
</body>
</html>